{% extends 'delivery_tracker/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="shadow_all"></div>
    <div class="container">
        <div class="row top-offset-20">
            <div class="col-md-offset-8 col-md-3">
                <b>Welcome{% if user.first_name %}, {{ user.first_name }}{% endif %}!</b>
            </div>
            <div class="col-md-1">
                <b><a href="{% url 'logout' %}">Logout</a></b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 top-offset-20">
                <div class="header_stripe">
                    <a href="{% url 'cabinet' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: white"></span> Main</a> - <a href="{% url 'cabinet_personal_data' %}">Personal data</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-sm-offset-4 col-md-4 col-sm-4">
                {% for msg in messages %}
                    <b>{{ msg }}</b><br/>
                {% endfor %}

            </div>
        </div>
        <div class="row top-offset-20">
            <div class="col-md-12">
                <form id="id_login_form" action="{% url 'cabinet_personal_data' %}" method="post" class="form-horizontal">
                    {% csrf_token %}

                    <!-- Disable browser's pre population of password and so on -->
                    <input type="password" name="password" style="display: none;" />

                    {{ form.first_name.errors }}
                    <div class="form-group">
                        <label for="id_first_name" class="control-label col-sm-2">First name</label>
                        <div class="col-sm-5">
                            <input id="id_first_name" type="text" name="first_name" value="{{ form.first_name.value }}" class="form-control" />
                        </div>
                    </div>
                    {{ form.last_name.errors }}
                    <div class="form-group">
                        <label for="id_last_name" class="control-label col-sm-2">Last name</label>
                        <div class="col-sm-5">
                            <input id="id_last_name" type="text" name="last_name" value="{{ form.last_name.value }}" class="form-control" />
                        </div>
                    </div>
                    {{ form.email.errors }}
                    <div class="form-group">
                        <label for="id_email" class="control-label col-sm-2">Email</label>
                        <div class="col-sm-5">
                            <input id="id_email" type="text" name="email" value="{{ form.email.value }}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="control-label col-sm-2">Password</label>
                        <div class="col-sm-5">
                            <input id="id_password" type="password" name="password" value="{{ masked_password }}" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_phone" class="control-label col-sm-2">Phone</label>
                        <div class="col-sm-5">
                            <input id="id_phone" type="text" name="phone" value="{{ form.phone.value }}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_notifications" class="control-label col-sm-2">Send email notifications</label>
                        <div class="col-sm-5">
                            <input id="id_notifications" type="checkbox" name="email_notifications" value="{{ form.email_notifications.value }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_verification_docs" class="control-label col-sm-2">Documents of the account verification</label>
                        <div class="col-sm-5">
                            <input id="id_verification_docs" type="text" name="documents" value="{{ form.documents.value }}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" name="profile_changes" class="btn btn-default">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-2">
                    Addresses
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    Country
                </div>
                <div class="col-md-2">
                    Index
                </div>
                <div class="col-md-2">
                    Address
                </div>
                <div class="col-md-2">
                    Credentials of the recipient
                </div>
                <div class="col-md-2">
                    Phone of the recipient
                </div>
            </div>
        </div>
    </div>

    <div id="dialog_form">
        <p class="validate_tips"></p>

        <form id="password_form" action="{% url 'cabinet_personal_data' %}" method="post" class="form-horizontal">
            {% csrf_token %}
                <!-- Disable browser's pre population of password and so on -->
                <input type="password" name="password" style="display: none;" />

                <div class="form-group">
                    <label class="col-sm-5 control-label" for="id_old_password">Password</label>
                    <div class="col-sm-5">
                        <input type="password" name="old_password" id="id_old_password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="id_new_password">New password</label>
                    <div class="col-sm-5">
                        <input type="password" name="new_password" id="id_new_password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="id_confirm_new_password">Confirm new password</label>
                    <div class="col-sm-5">
                        <input type="password" name="confirm_new_password" id="id_confirm_new_password" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-5">
                        <button type="submit" name="password_change" class="btn btn-default">Change password</button>
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <button id="id_button_cancel_password_change" type="button" name="cancel_password_change" class="btn btn-default">Cancel</button>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        var dialog, form,
        old_password = $("#id_old_password"),
        new_password = $("#id_new_password"),
        confirm_new_password = $("#id_confirm_new_password"),
        tips = $(".validateTips");

        function updateTips(t) {
            tips
                .text(t)
                .addClass("ui-state-highlight");
            setTimeout(function() {
                tips.removeClass("ui-state-highlight", 1500);
            }, 500 );
        }
        $("#dialog_form").submit(function(event) {
            if (new_password.val() !== confirm_new_password.val()) {
                alert("Пароли не совпадают");
                event.preventDefault();
            }
        });
        dialog = $("#dialog_form").dialog({
            autoOpen: false,
            width: 350,
            modal: true,
            draggable: false,
            open: function() {
                $(".shadow_all").show();
            },
            close: function() {
                $(".shadow_all").hide();
            },
            dialogClass: 'ui-widget-shadow',
        });
        $("#id_password").on("click", function() {
            dialog.dialog("open");
            $(".ui-dialog-titlebar-close").hide();
        });

        $(".shadow_all").click(function () {
            dialog.dialog("close");
        });
        $("#id_button_cancel_password_change").click(function () {
            dialog.dialog("close");
        });
    });
</script>
{% endblock %}
